.email-input{
    width: calc(60% - 20px);
    padding: 10px;
    .MuiFilledInput-underline:before{
        border-color: darkred;
    }
    .MuiFilledInput-underline:after{
        border-color: white;
    }
    input, label{
        color: white !important;
        font-family: 'Odibee Sans', cursive;
    }
}
.signin-form{
    width: calc(70% - 20px);
    padding: 10px;
    text-align: center;
    .sign-in-container{
        width: calc(90% - 20px);
        padding: 10px;
        font-family: 'Odibee Sans', cursive;
        .error-message{
            width: calc(80% - 10px);
            padding: 5px;
            text-align: center;
            font-size: 1.2em;
            color: red;
        }
        .login-btn{
            border-radius: 10px;
            padding: 10px 20px;
            width: calc(40% - 40px);
            font-size: 1.2em;
            letter-spacing: 0.09em;
            background: $btn-linear-gradient;
            transition: all 0.4s;
            cursor: pointer;
            margin-top: 7vh;
            font-family: 'Odibee Sans', cursive;
        }
        .login-btn:hover{
            filter: brightness(70%);
        }
    }
}
@media screen and (max-width: 858px) {
    .signin-form{
        width: calc(90% - 20px);
        .sign-in-container{
            width: calc(100% - 20px);
        }
    }
}
@media screen and (max-width: 588px) {
    .email-input{
        width: calc(80% - 20px);
    }
    .signin-form{
        width: calc(95% - 20px);
        .sign-in-container{
            .error-message{
                width: calc(100% - 10px);
            }
            .login-btn{
                width: calc(60% - 40px);
                font-size: 1.2em;
            }
        }
    }
}
@media screen and (max-width: 330px) {
    .email-input{
        width: calc(90% - 20px);
    }
    .signin-form{
        width: calc(100% - 20px);
        .sign-in-container{
            .login-btn{
                width: calc(100% - 40px);
                font-size: 1.2em;
            }
        }
    }
}