@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap);body {
  margin: 0;
  padding: 0;
  background: #0a0a0a;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.nav-wrapper {
  background: none !important;
}

.nav-wrapper a {
  color: white;
  text-decoration: none;
}

.nav-wrapper .menu-btn {
  display: none;
}

.nav-wrapper .service-name {
  color: white;
  font-size: 1.7em;
  letter-spacing: 0.05em;
  font-family: 'Odibee Sans', cursive;
  transition: filter 0.3s;
}

.nav-wrapper .service-name:hover {
  filter: brightness(70%);
}

.nav-wrapper .item-btn-wrapper,
.nav-wrapper .service-name {
  margin: 6px;
}

.nav-wrapper .item-btn {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  background: darkred;
  font-family: 'Odibee Sans', cursive;
  transition: all 0.4s;
}

.nav-wrapper .right-aligned {
  margin-left: auto;
}

.nav-wrapper .rwd,
.nav-wrapper .rwd-2 {
  display: none;
}

.nav-wrapper .hidden {
  display: none !important;
}

@media screen and (max-width: 860px) {
  .nav-wrapper .service-name {
    font-size: 1.3em;
  }

  .nav-wrapper .item-btn {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 708px) {
  .nav-wrapper .menu-btn {
    display: block;
  }

  .nav-wrapper .rwd {
    margin-top: 2px;
    margin-bottom: 2px;
    display: block;
  }

  .nav-wrapper .rwd .item-btn {
    width: calc(95% - 40px);
    display: block;
    margin: 2px auto;
  }

  .nav-wrapper .non-rwd {
    display: none;
  }
}

@media screen and (max-width: 424px) {
  .nav-wrapper .service-name {
    font-size: 1em;
    margin-left: 2px;
  }

  .nav-wrapper .item-btn {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 364px) {
  .nav-wrapper {
    text-align: center;
  }

  .nav-wrapper .right-aligned {
    display: none;
  }

  .nav-wrapper .rwd-2 {
    margin-top: 2px;
    margin-bottom: 2px;
    display: block;
  }

  .nav-wrapper .rwd-2 .item-btn {
    width: calc(95% - 40px);
    display: block;
    margin: 2px auto;
  }
}

.welcome-container .section-btn,
.welcome-container .short-describe {
  font-family: 'Odibee Sans', cursive;
  letter-spacing: 0.06em;
}

.welcome-container .short-describe {
  width: calc(70% - 20px);
  padding: 10px;
  text-align: center;
  font-size: 1.7em;
  color: white;
  margin-bottom: 14vh;
}

.welcome-container .short-describe .short-desc-word {
  display: inline-block;
}

.welcome-container .buttons-section {
  width: calc(90% - 20px);
  padding: 10px;
  text-align: center;
}

.welcome-container .buttons-section a {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: calc(30% - 8px);
  margin: 4px;
}

.welcome-container .buttons-section .section-btn {
  width: calc(90% - 20px);
  padding: 20px 10px;
  font-size: 1.4em;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to left, #e53935, #d32f2f, #c62828, #b71c1c);
}

@media screen and (max-width: 1011px) {
  .welcome-container .main-header {
    font-size: 3.1em;
  }

  .welcome-container .short-describe {
    width: calc(80% - 20px);
    font-size: 1.5em;
    margin-bottom: 10vh;
  }

  .welcome-container .buttons-section a {
    width: calc(40% - 8px);
  }

  .welcome-container .buttons-section .section-btn {
    width: calc(90% - 20px);
    font-size: 1.3em;
  }
}

@media screen and (max-width: 595px) {
  .welcome-container .main-header {
    font-size: 2.7em;
  }

  .welcome-container .short-describe {
    width: calc(90% - 20px);
    font-size: 1.3em;
  }

  .welcome-container .buttons-section a {
    width: calc(70% - 8px);
    display: block;
    margin: 6px auto;
  }

  .welcome-container .buttons-section .section-btn {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 536px) {
  .welcome-container .main-header {
    font-size: 2.3em;
  }

  .welcome-container .short-describe {
    width: calc(95% - 20px);
    font-size: 1.1em;
  }
}

@media screen and (max-width: 454px) {
  .welcome-container .short-describe {
    width: calc(100% - 20px);
    font-size: 1em;
  }

  .welcome-container .buttons-section a {
    width: calc(100% - 8px);
  }

  .welcome-container .buttons-section .section-btn {
    font-size: 1em;
  }
}

.main-header,
.service-describe,
.author-footer,
.source-footer {
  font-family: "Odibee Sans",cursive;
  text-align: center;
  padding: 10px;
  color: white;
}

.main-header {
  width: calc(90% - 20px);
  font-size: 3.9em;
  letter-spacing: 0.09em;
  margin-bottom: 9vh;
}

.service-describe {
  width: calc(50% - 20px);
  font-size: 1.9em;
  line-height: 1.8em;
  margin-bottom: 10vh;
}

.author-footer {
  width: calc(40% - 20px);
  padding: 10px;
  font-size: 1.3em;
  margin-bottom: 4vh;
}

.source-footer {
  padding: 20px 10px;
  width: calc(40% - 20px);
  text-align: center;
  font-size: 1.9em;
  color: black;
  background: linear-gradient(to right, #0a0a0a, #222, #666, #222, #0a0a0a);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: filter 0.4s;
}

.source-footer:hover {
  filter: brightness(70%);
}

@media screen and (max-width: 972px) {
  .service-describe {
    width: calc(70% - 20px);
  }

  .author-footer,
  .source-footer {
    width: calc(60% - 20px);
  }
}

@media screen and (max-width: 680px) {
  .main-header {
    margin-bottom: 4vh;
  }

  .service-describe {
    font-size: 1.4em;
    line-height: 1.4em;
  }
}

@media screen and (max-width: 474px) {
  .main-header {
    font-size: 3.1em;
  }

  .service-describe {
    font-size: 1.2em;
    line-height: 1.2em;
  }

  .author-footer {
    width: calc(80% - 20px);
    font-size: 1em;
  }

  .source-footer {
    width: calc(90% - 20px);
  }
}

.signin-form {
  width: calc(70% - 20px);
  padding: 10px;
  text-align: center;
}

.signin-form .sign-in-container {
  width: calc(90% - 20px);
  padding: 10px;
  font-family: 'Odibee Sans', cursive;
}

.signin-form .sign-in-container .email-input {
  width: calc(60% - 20px);
  padding: 10px;
}

.signin-form .sign-in-container .email-input .MuiFilledInput-underline:before {
  border-color: darkred;
}

.signin-form .sign-in-container .email-input .MuiFilledInput-underline:after {
  border-color: white;
}

.signin-form .sign-in-container .email-input input,
.signin-form .sign-in-container .email-input label {
  color: white;
  font-family: 'Odibee Sans', cursive;
}

.signin-form .sign-in-container .error-message {
  width: calc(80% - 10px);
  padding: 5px;
  text-align: center;
  font-size: 1.2em;
  color: red;
}

.signin-form .sign-in-container .login-btn {
  border-radius: 10px;
  padding: 10px 20px;
  width: calc(40% - 40px);
  font-size: 1.2em;
  letter-spacing: 0.09em;
  background: linear-gradient(to left, #e53935, #d32f2f, #c62828, #b71c1c);
  transition: all 0.4s;
  cursor: pointer;
  margin-top: 7vh;
  font-family: 'Odibee Sans', cursive;
}

.signin-form .sign-in-container .login-btn:hover {
  filter: brightness(70%);
}

@media screen and (max-width: 858px) {
  .signin-form {
    width: calc(90% - 20px);
  }

  .signin-form .sign-in-container {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 588px) {
  .signin-form {
    width: calc(95% - 20px);
  }

  .signin-form .sign-in-container .email-input {
    width: calc(80% - 20px);
  }

  .signin-form .sign-in-container .error-message {
    width: calc(100% - 10px);
  }

  .signin-form .sign-in-container .login-btn {
    width: calc(60% - 40px);
    font-size: 1.2em;
  }
}

@media screen and (max-width: 330px) {
  .signin-form {
    width: calc(100% - 20px);
  }

  .signin-form .sign-in-container .email-input {
    width: calc(90% - 20px);
  }

  .signin-form .sign-in-container .login-btn {
    width: calc(100% - 40px);
    font-size: 1.2em;
  }
}

.main-data-container {
  width: calc(95% - 20px);
  padding: 10px;
  text-align: center;
  height: calc(60vh - 20px);
}

.main-data-container .data-wrapper {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  height: 100%;
  border: 1px solid white;
  border-radius: 10px;
  margin: 6px;
}

.main-data-container .data-wrapper a {
  text-decoration: none;
  color: white;
}

.main-data-container .data-wrapper .recent-header {
  width: calc(90% - 10px);
  padding: 5px;
  font-size: 1.9em;
  font-family: 'Odibee Sans', cursive;
  color: white;
  letter-spacing: 0.07em;
  margin-bottom: 4vh;
}

.main-data-container .data-wrapper .go-to-tests-btn {
  padding: 20px 40px;
  font-size: 1.7em;
  letter-spacing: 0.04em;
  font-family: 'Odibee Sans', cursive;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: filter 0.4s;
  width: calc(50% - 80px);
  background: linear-gradient(to right, #b71c1c, #c62828, #d32f2f, #e53935, #f44336);
}

.main-data-container .data-wrapper .go-to-tests-btn:hover {
  filter: brightness(70%);
}

.main-data-container .recently-done {
  width: calc(50% - 34px);
}

.main-data-container .recently-published {
  width: calc(40% - 34px);
}

.main-data-container .recently-published .published-header {
  margin-bottom: 4vh;
}

.main-data-container .recently-published .go-to-tests-btn {
  padding: 20px;
  width: calc(80% - 40px);
}

.main-data-container .created-test {
  width: calc(80% - 20px);
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(to left, #e53935, #d32f2f, #c62828, #b71c1c);
  margin-bottom: 1vh;
}

.main-data-container .created-test .test-elem {
  display: inline-block;
  margin: 4px;
}

.main-data-container .created-test .created-header {
  width: calc(50% - 28px);
  padding: 5px 10px;
  font-size: 1.3em;
  font-family: 'Odibee Sans', cursive;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 1372px) {
  .main-data-container {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 1167px) {
  .main-data-container .data-wrapper .recent-header {
    width: calc(100% - 10px);
    font-size: 1.4em;
  }

  .main-data-container .data-wrapper .go-to-tests-btn {
    font-size: 1.4em;
    width: calc(70% - 80px);
  }

  .main-data-container .recently-published .go-to-tests-btn {
    width: calc(90% - 40px);
  }
}

@media screen and (max-width: 930px) {
  .history-container .main-header {
    font-size: 3.1em !important;
  }
}

@media screen and (max-width: 834px) {
  .main-data-container .data-wrapper .recent-header {
    font-size: 1.1em;
  }

  .main-data-container .data-wrapper .go-to-tests-btn {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 758px) {
  .main-data-container {
    height: auto;
  }

  .main-data-container .data-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(80% - 20px);
    height: 60vh;
    margin-bottom: 2vh;
  }

  .main-data-container .data-wrapper .go-to-tests-btn {
    padding: 20px;
    width: calc(70% - 40px);
  }
}

@media screen and (max-width: 476px) {
  .main-data-container .data-wrapper {
    width: calc(90% - 20px);
  }

  .main-data-container .data-wrapper .go-to-tests-btn {
    width: calc(90% - 40px);
  }
}

@media screen and (max-width: 320px) {
  .main-data-container .data-wrapper {
    width: calc(95% - 20px);
  }

  .main-data-container .data-wrapper .recent-header {
    font-size: 0.9em;
  }

  .main-data-container .data-wrapper .go-to-tests-btn {
    font-size: 0.9em;
  }
}

.publish-container .main-header {
  margin-bottom: 3vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.creator-container,
.creator-panel,
.ending-panel {
  width: calc(90% - 20px);
  padding: 10px;
  text-align: center;
}

.creator-container .go-to-questions-btn,
.creator-panel .go-to-questions-btn,
.ending-panel .go-to-questions-btn {
  width: calc(25% - 20px);
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 10px;
  font-family: 'Odibee Sans', cursive;
  font-size: 1.5em;
  background: linear-gradient(to left, #e53935, #d32f2f, #c62828, #b71c1c);
  transition: filter 0.4s;
}

.creator-container .go-to-questions-btn:hover,
.creator-panel .go-to-questions-btn:hover,
.ending-panel .go-to-questions-btn:hover {
  filter: brightness(70%);
}

.creator-container .question-name-input,
.creator-panel .question-name-input,
.ending-panel .question-name-input {
  width: calc(40% - 20px);
  padding: 10px;
}

.creator-container .question-name-input .MuiFilledInput-underline:before,
.creator-panel .question-name-input .MuiFilledInput-underline:before,
.ending-panel .question-name-input .MuiFilledInput-underline:before {
  border-color: darkred;
}

.creator-container .question-name-input .MuiFilledInput-underline:after,
.creator-panel .question-name-input .MuiFilledInput-underline:after,
.ending-panel .question-name-input .MuiFilledInput-underline:after {
  border-color: white;
}

.creator-container .question-name-input input,
.creator-container .question-name-input label,
.creator-panel .question-name-input input,
.creator-panel .question-name-input label,
.ending-panel .question-name-input input,
.ending-panel .question-name-input label {
  color: white;
  font-family: 'Odibee Sans', cursive;
  font-size: 1.3em;
}

.creator-container {
  margin-top: 6vh;
}

.creator-container .questions-input {
  width: calc(30% - 20px);
  padding: 10px;
  font-family: 'Odibee Sans', cursive;
  color: white;
  font-size: 2.5em;
  margin-bottom: 6vh;
}

.creator-container .MuiInput-underline:before {
  border-color: darkred;
}

.creator-container .MuiInput-underline.Mui-focused:after {
  border-color: white !important;
}

.creator-container input,
.creator-container label {
  color: white;
  text-align: center;
}

.creator-panel .question-header,
.creator-panel .question-sub-header {
  width: calc(90% - 20px);
  padding: 10px;
  text-align: center;
  font-size: 2.4em;
  font-family: 'Odibee Sans', cursive;
  color: white;
}

.creator-panel .question-sub-header {
  font-size: 1.4em;
}

.creator-panel .type-container {
  width: calc(50% - 20px);
  padding: 10px;
  text-align: center;
  margin-bottom: 1vh;
}

.creator-panel .type-container .question-type-btn {
  margin: 6px;
  padding: 20px 10px;
  width: calc(15% - 20px);
  font-size: 1em;
  font-family: 'Odibee Sans', cursive;
  background: linear-gradient(to right, #cc3532, #d32f2f, #c62828, #b71c1c);
  cursor: pointer;
  transition: filter 0.3s;
}

.creator-panel .type-container .question-type-btn:hover {
  filter: brightness(70%);
}

.creator-panel .type-container .selected-type {
  background: radial-gradient(#ff4441, #f83838, #ff3333, #ff1d1d);
}

.creator-panel .points-input {
  width: calc(50% - 20px);
  padding: 10px;
  text-align: center;
  font-size: 1.3em;
  font-family: 'Odibee Sans', cursive;
}

.creator-panel .points-input input,
.creator-panel .points-input label {
  color: white;
  text-align: center;
}

.creator-panel .adding-answer-button {
  width: calc(40% - 20px);
  padding: 20px 10px;
  font-size: 1em;
  letter-spacing: 0.07em;
  font-family: 'Odibee Sans', cursive;
  background: linear-gradient(to left, #e53935, #d32f2f, #c62828, #b71c1c);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: filter 0.4s;
  margin-bottom: 4vh;
}

.creator-panel .adding-answer-button:hover {
  filter: brightness(70%);
}

.creator-panel .answer-wrapper {
  width: calc(50% - 20px);
  padding: 10px;
  margin-bottom: 3vh;
  height: auto;
}

.creator-panel .answer-wrapper .answer-content,
.creator-panel .answer-wrapper .answer-icon,
.creator-panel .answer-wrapper .max-length-input {
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}

.creator-panel .answer-wrapper .answer-icon,
.creator-panel .answer-wrapper .max-length-input {
  background: none;
  border: none;
  margin: 0 10px;
  font-size: 2.6em;
  width: calc(10% - 20px);
  cursor: pointer;
  transition: filter 0.4s;
}

.creator-panel .answer-wrapper .answer-icon:hover {
  filter: brightness(70%);
}

.creator-panel .answer-wrapper .answer-correct {
  color: green;
}

.creator-panel .answer-wrapper .answer-wrong {
  color: red;
}

.creator-panel .answer-wrapper .delete-icon {
  color: white;
}

.creator-panel .answer-wrapper .max-length-input {
  color: white;
  font-family: 'Odibee Sans', cursive;
  font-size: 1.2em;
  width: calc(15% - 20px);
}

.creator-panel .answer-wrapper .max-length-input .MuiFilledInput-underline:before,
.creator-panel .answer-wrapper .answer-content .MuiFilledInput-underline:before {
  border-color: darkred;
}

.creator-panel .answer-wrapper .max-length-input .MuiFilledInput-underline.Mui-focused:after,
.creator-panel .answer-wrapper .answer-content .MuiFilledInput-underline.Mui-focused:after {
  border-color: white !important;
}

.creator-panel .answer-wrapper .max-length-input input,
.creator-panel .answer-wrapper .max-length-input label,
.creator-panel .answer-wrapper .answer-content input,
.creator-panel .answer-wrapper .answer-content label {
  color: white;
  text-align: center;
  font-size: 2.2em;
  padding-top: 0;
  font-family: 'Odibee Sans', cursive;
}

.creator-panel .answer-wrapper .max-length-input input,
.creator-panel .answer-wrapper .answer-content input {
  width: 100%;
}

.creator-panel .answer-wrapper .answer-content {
  width: 60%;
  color: white;
}

.creator-panel .answer-wrapper .number-content {
  width: calc(80% - 20px);
  padding: 10px;
}

.creator-panel .ending-options-container {
  width: calc(80% - 20px);
  padding: 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.creator-panel .ending-options-container .ending-phase-btn {
  width: calc(40% - 32px);
  padding: 20px 10px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to left, #e53935, #d32f2f, #c62828, #b71c1c);
  font-size: 1.9em;
  font-family: 'Odibee Sans', cursive;
  margin: 6px;
  display: inline-block;
  cursor: pointer;
  transition: filter 0.4s;
}

.creator-panel .ending-options-container .ending-phase-btn:hover {
  filter: brightness(70%);
}

.ending-panel {
  font-family: 'Odibee Sans', cursive;
}

.ending-panel .ending-header {
  width: calc(90% - 20px);
  text-align: center;
  font-size: 1.9em;
  letter-spacing: 0.07em;
  font-family: 'Odibee Sans', cursive;
  margin-bottom: 2vh;
  color: white;
}

.ending-panel .finish-btn {
  width: calc(30% - 20px);
  padding: 20px 10px;
  text-align: center;
  font-size: 2.1em;
  letter-spacing: 0.06em;
  font-family: 'Odibee Sans', cursive;
  background: linear-gradient(to left, #e53935, #d32f2f, #c62828, #b71c1c);
  cursor: pointer;
  transition: filter 0.4s;
}

.ending-panel .finish-btn:hover {
  filter: brightness(70%);
}

.ending-panel .published-header {
  width: calc(80% - 20px);
  padding: 10px;
  text-align: center;
  font-size: 1.9em;
  letter-spacing: 0.05em;
  font-family: 'Odibee Sans', cursive;
  color: white;
  margin-bottom: 4vh;
}

@media screen and (max-width: 1083px) {
  .creator-container .questions-input,
  .creator-panel .questions-input {
    width: calc(50% - 20px);
  }

  .creator-container .go-to-questions-btn,
  .creator-panel .go-to-questions-btn {
    width: calc(40% - 20px);
  }
}

@media screen and (max-width: 733px) {
  .creator-container .go-to-questions-btn,
  .creator-panel .go-to-questions-btn {
    width: calc(50% - 20px);
    font-size: 1.2em;
  }
}

@media screen and (max-width: 659px) {
  .creator-container .questions-input {
    width: calc(70% - 20px);
    font-size: 2.1em;
  }
}

@media screen and (max-width: 485px) {
  .creator-container .go-to-questions-btn,
  .creator-panel .go-to-questions-btn {
    width: calc(70% - 20px);
  }
}

@media screen and (max-width: 417px) {
  .creator-container .questions-input {
    width: calc(90% - 20px);
    font-size: 1.8em;
  }
}

@media screen and (max-width: 360px) {
  .creator-container .questions-input,
  .creator-panel .questions-input {
    width: calc(95% - 20px);
    font-size: 1.5em;
  }

  .creator-container .go-to-questions-btn,
  .creator-panel .go-to-questions-btn {
    width: calc(80% - 20px);
    font-size: 1em;
  }
}

@media screen and (max-width: 320px) {
  .publish-container .main-header {
    font-size: 2.5em;
  }

  .creator-container .questions-input {
    width: calc(95% - 20px);
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1292px) {
  .creator-panel .type-container .question-type-btn {
    width: calc(20% - 20px);
  }
}

@media screen and (max-width: 1090px) {
  .creator-panel .answer-wrapper {
    width: calc(60% - 20px);
  }
}

@media screen and (max-width: 991px) {
  .creator-panel .type-container .question-type-btn {
    width: calc(25% - 20px);
    font-size: 0.8em;
  }

  .creator-panel .ending-options-container {
    width: calc(100% - 20px);
  }

  .creator-panel .ending-options-container .ending-phase-btn {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 782px) {
  .creator-panel .answer-wrapper {
    width: calc(80% - 20px);
  }
}

@media screen and (max-width: 755px) {
  .creator-panel .question-name-input {
    width: calc(60% - 20px);
  }
}

@media screen and (max-width: 688px) {
  .creator-panel .type-container .question-type-btn {
    width: calc(40% - 20px);
    font-size: 1em;
  }

  .creator-panel .answer-wrapper {
    width: calc(80% - 20px);
  }

  .creator-panel .answer-wrapper .answer-content,
  .creator-panel .answer-wrapper .answer-icon {
    width: auto;
  }

  .creator-panel .ending-options-container .ending-phase-btn {
    width: calc(45% - 32px);
    font-size: 1.5em;
  }
}

@media screen and (max-width: 570px) {
  .creator-panel .answer-wrapper .answer-content,
  .creator-panel .answer-wrapper .answer-icon {
    width: auto;
  }

  .creator-panel .answer-wrapper .answer-content input,
  .creator-panel .answer-wrapper .answer-content label {
    font-size: 1.8em;
  }

  .creator-panel .ending-options-container .ending-phase-btn {
    width: calc(80% - 32px);
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
  }
}

@media screen and (max-width: 511px) {
  .creator-panel .type-container .question-type-btn {
    width: calc(50% - 20px);
    font-size: 0.8em;
  }
}

@media screen and (max-width: 480px) {
  .creator-panel .adding-answer-button {
    width: calc(70% - 20px);
    font-size: 0.7em;
  }
}

@media screen and (max-width: 375px) {
  .creator-panel .question-name-input {
    width: calc(80% - 20px);
  }

  .creator-panel .type-container .question-type-btn {
    width: calc(80% - 20px);
    margin: 2px 6px;
    padding: 10px;
    font-size: 1em;
  }

  .creator-panel .ending-options-container .ending-phase-btn {
    width: calc(90% - 32px);
    font-size: 1.2em;
  }
}

@media screen and (max-width: 330px) {
  .creator-panel .points-input {
    width: calc(70% - 20px);
  }
}

@media screen and (max-width: 1046px) {
  .ending-panel .finish-btn {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 838px) {
  .ending-panel .question-name-input {
    width: calc(60% - 20px);
  }
}

@media screen and (max-width: 726px) {
  .ending-panel .finish-btn {
    width: calc(60% - 20px);
    font-size: 1.5em;
  }
}

@media screen and (max-width: 474px) {
  .ending-panel .finish-btn {
    width: calc(80% - 20px);
    font-size: 1.3em;
  }

  .ending-panel .question-name-input {
    width: calc(80% - 20px);
  }

  .ending-panel .published-header {
    width: calc(90% - 20px);
    font-size: 1.6em;
  }
}

@media screen and (max-width: 340px) {
  .ending-panel .published-header {
    width: calc(95% - 20px);
    font-size: 1.4em;
  }
}

.test-solving-container .start-btn,
.test-solving-container .error-header,
.test-solving-container .question-name,
.test-solving-container .next-btn,
.test-solving-container .result,
.test-solving-container .ending-header,
.test-solving-container .end-option-btn,
.test-solving-container .click-option {
  font-family: 'Odibee Sans', cursive;
  letter-spacing: 0.06em;
  padding: 10px;
  text-align: center;
}

.test-solving-container .start-btn,
.test-solving-container .next-btn {
  width: calc(50% - 20px);
  font-size: 2.8em;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #380000, #610101, #8b0303, #c70000, #ff0000, #fc0808, #ff2623, #F83839, #ff2623, #fc0808, #ff0000, #c70000, #8b0303, #610101, #380000);
  transition: filter 0.4s;
  cursor: pointer;
}

.test-solving-container .start-btn:hover {
  filter: brightness(70%);
}

.test-solving-container .error-header,
.test-solving-container .question-name,
.test-solving-container .result,
.test-solving-container .ending-header,
.test-solving-container .end-option-btn {
  color: white;
}

.test-solving-container .error-header {
  width: calc(60% - 20px);
  font-size: 1.6em;
}

.test-solving-container .question-name {
  width: calc(80% - 20px);
  font-size: 1.4em;
  margin-bottom: 4vh;
}

.test-solving-container .next-btn {
  width: calc(40% - 20px);
  font-size: 1.2em;
}

.test-solving-container .result {
  width: calc(70% - 20px);
  font-size: 1.4em;
}

.test-solving-container .ending-header {
  width: calc(60% - 20px);
  font-size: 2.9em;
  margin-bottom: 3vh;
}

.test-solving-container .options-wrapper {
  margin-top: 4vh;
}

.test-solving-container a {
  text-decoration: none;
  color: white;
}

.test-solving-container .end-option-btn {
  width: calc(40% - 20px);
  font-size: 1.8em;
  background: linear-gradient(to right, #cc3532, #d32f2f, #c62828, #b71c1c);
  border: none;
  border-radius: 10px;
  margin-bottom: 1vh;
  cursor: pointer;
  transition: filter 0.4s;
}

.test-solving-container .end-option-btn:hover {
  filter: brightness(70%);
}

.test-solving-container .solving-answer-container {
  width: calc(100% - 20px);
  padding: 10px;
  text-align: center;
}

.test-solving-container .solving-answer-container .click-option {
  margin: 4px;
  width: calc(60% - 28px);
  background: linear-gradient(to left, #e53935, #d32f2f, #c62828, #b71c1c);
  border-radius: 10px;
  font-size: 1.2em;
  padding: 20px 10px;
}

.test-solving-container .solving-answer-container .chosen {
  background: linear-gradient(to right, #380000, #610101, #8b0303, #c70000, #ff0000, #fc0808, #ff2623, #F83839, #ff2623, #fc0808, #ff0000, #c70000, #8b0303, #610101, #380000);
}

.test-solving-container .solving-answer-container .text-answer {
  width: calc(80% - 20px);
  padding: 10px;
  text-align: center;
  letter-spacing: 0.06em;
}

.test-solving-container .solving-answer-container .text-answer .MuiFilledInput-underline:before {
  border-color: darkred;
}

.test-solving-container .solving-answer-container .text-answer .MuiFilledInput-underline:after {
  border-color: white;
}

.test-solving-container .solving-answer-container .text-answer input,
.test-solving-container .solving-answer-container .text-answer label {
  color: white;
  font-family: 'Odibee Sans', cursive;
  font-size: 1.6em;
}

.test-solving-container .solving-answer-container .number-answer {
  width: calc(70% - 20px);
  padding: 10px;
  text-align: center;
}

.test-solving-container .solving-answer-container .number-answer input {
  color: white;
  font-family: 'Odibee Sans', cursive;
  font-size: 1.6em;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .test-solving-container .end-option-btn {
    width: calc(60% - 20px);
    font-size: 1.5em;
  }
}

@media screen and (max-width: 670px) {
  .test-solving-container .ending-header {
    width: calc(80% - 20px);
    font-size: 2.4em;
  }

  .test-solving-container .end-option-btn {
    width: calc(80% - 20px);
    font-size: 1.2em;
  }
}

@media screen and (max-width: 432px) {
  .test-solving-container .result {
    width: calc(100% - 20px);
    font-size: 1.2em;
  }
}

@media screen and (max-width: 414px) {
  .test-solving-container .ending-header {
    width: calc(100% - 20px);
    font-size: 2em;
  }

  .test-solving-container .end-option-btn {
    width: calc(100% - 20px);
    font-size: 1em;
  }
}

