.publish-container{
    .main-header{
        margin-bottom: 3vh;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.creator-container, .creator-panel, .ending-panel{
    width: calc(90% - 20px);
    padding: 10px;
    text-align: center;
    .go-to-questions-btn{
        width: calc(25% - 20px);
        padding: 10px;
        text-align: center;
        border: none;
        border-radius: 10px;
        font-family: 'Odibee Sans', cursive;
        font-size: 1.5em;
        background: $btn-linear-gradient;
        transition: filter 0.4s;
    }
    .go-to-questions-btn:hover{
        filter: brightness(70%);
    }
    .question-name-input{
        width: calc(40% - 20px);
        padding: 10px;
        .MuiFilledInput-underline:before{
            border-color: darkred;
        }
        .MuiFilledInput-underline:after{
            border-color: white;
        }
        input, label{
            color: white;
            font-family: 'Odibee Sans', cursive;
            font-size: 1.3em;
        }
    }
}
.creator-container{
    margin-top: 6vh;
    .questions-input{
        width: calc(30% - 20px);
        padding: 10px;
        font-family: 'Odibee Sans', cursive;
        color: white;
        font-size: 2.5em;
        margin-bottom: 6vh;
    }
    .MuiInput-underline:before{
        border-color: darkred;
    }
    .MuiInput-underline.Mui-focused:after{
        border-color: white !important;
    }
    input, label{
        color: white;
        text-align: center;
    }
}
.MuiMenu-list{
    background: darkred;
    text-align: center;
    .type-selecting-option{
        font-family: "Odibee Sans", cursive;
        color: white;
        width: calc(100% - 10px);
        padding: 5px;
        text-align: center;
        font-size: 1.1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
}
.creator-panel{
    .question-header{
        width: calc(90% - 20px);
        padding: 10px;
        text-align: center;
        font-size: 2.4em;
        font-family: 'Odibee Sans', cursive;
        color: white;
        margin-bottom: 3vh;
    }
    .type-container{
        width: calc(60% - 20px);
        padding: 10px;
        text-align: center;
        margin-bottom: 1vh;
        .MuiFormControl-root{
            width: 100%;
            .MuiFilledInput-underline:before{
                border-color: darkred;
            }
            .MuiFilledInput-underline:after{
                border-color: white;
            }
            .MuiInputBase-formControl{
                width: calc(90% - 20px);
                padding: 10px;
                .MuiSelect-selectMenu{
                    width: calc(100% - 10px);
                    padding: 5px;
                    color: white;
                    font-family: "Odibee Sans", cursive;
                    font-size: 1.2em;
                }
            }
        }
        .question-type-btn{
            margin: 6px;
            padding: 20px 10px;
            width: calc(15% - 20px);
            font-size: 1em;
            font-family: 'Odibee Sans', cursive;
            background: $btn-round-gradient;
            cursor: pointer;
            transition: filter 0.3s;
        }
        .question-type-btn:hover{
            filter: brightness(70%);
        }
        .selected-type{
            background: $btn-selected-gradient;
        }
    }
    .points-input{
        width: calc(50% - 20px);
        padding: 10px;
        text-align: center;
        font-size: 1.3em;
        font-family: 'Odibee Sans', cursive;
        input, label{
            color: white;
            text-align: center;
        }
    }
    .adding-answer-button{
        width: calc(40% - 20px);
        padding: 20px 10px;
        font-size: 1em;
        letter-spacing: 0.07em;
        font-family: 'Odibee Sans', cursive;
        background: $btn-linear-gradient;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: filter 0.4s;
        margin-bottom: 4vh;
    }
    .adding-answer-button:hover{
        filter: brightness(70%);
    }
    .answer-wrapper{
        width: calc(50% - 20px);
        padding: 10px;
        margin-bottom: 3vh;
        height: auto;
        .answer-content,.answer-icon, .max-length-input{
            display: inline-block;
            vertical-align: top;
            margin: 6px;
        }
        .answer-icon, .max-length-input{
            background: none;
            border: none;
            margin: 0 10px;
            font-size: 2.6em;
            width: calc(10% - 20px);
            cursor: pointer;
            transition: filter 0.4s;
        }
        .answer-icon:hover{
            filter: brightness(70%);
        }
        .answer-correct{
            color: green;
        }
        .answer-wrong{
            color: red;
        }
        .delete-icon{
            color: white;
        }
        .max-length-input{
            color: white;
            font-family: 'Odibee Sans', cursive;
            font-size: 1.2em;
            width: calc(15% - 20px);
        }
        .max-length-input, .answer-content{
            .MuiFilledInput-underline:before{
                border-color: darkred;
            }
            .MuiFilledInput-underline.Mui-focused:after{
                border-color: white !important;
            }
            input, label{
                color: white;
                text-align: center;
                font-size: 2.2em;
                padding-top: 0;
                font-family: 'Odibee Sans', cursive;
            }
            input{
                width: 100%;
            } 
        }
        .answer-content{
            width: 60%;
            color: white;
        }
        .number-content{
            width: calc(80% - 20px);
            padding: 10px;
        }
    }
    .ending-options-container{
        width: calc(80% - 20px);
        padding: 10px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        .ending-phase-btn{
            width: calc(40% - 32px);
            padding: 20px 10px;
            border-radius: 10px;
            border: none;
            background: $btn-linear-gradient;
            font-size: 1.9em;
            font-family: 'Odibee Sans', cursive;
            margin: 6px;
            display: inline-block;
            cursor: pointer;
            transition: filter 0.4s;
        }
        .ending-phase-btn:hover{
            filter: brightness(70%);
        }
    }
}
.ending-panel{
    font-family: 'Odibee Sans', cursive;
    .ending-header{
        width: calc(90% - 20px);
        text-align: center;
        font-size: 1.9em;
        letter-spacing: 0.07em;
        font-family: 'Odibee Sans', cursive;
        margin-bottom: 2vh;
        color: white;
    }
    .finish-btn{
        width: calc(30% - 20px);
        padding: 20px 10px;
        text-align: center;
        font-size: 2.1em;
        letter-spacing: 0.06em;
        font-family: 'Odibee Sans', cursive;
        background: $btn-linear-gradient;
        cursor: pointer;
        transition: filter 0.4s;
    }
    .finish-btn:hover{
        filter: brightness(70%);
    }
    .published-header{
        width: calc(80% - 20px);
        padding: 10px;
        text-align: center;
        font-size: 1.9em;
        letter-spacing: 0.05em;
        font-family: 'Odibee Sans', cursive;
        color: white;
        margin-bottom: 4vh;
    }
}
@import "./RWDFirstPhase";
@import "./RWDSecondPhase";
@import "./RWDFinalPhase";