@media screen and (max-width: 1292px) {
    .creator-panel{
        .type-container{
            .question-type-btn{
                width: calc(20% - 20px);
            }
        }
    }
}
@media screen and (max-width: 1090px) {
    .creator-panel{
        .answer-wrapper{
            width: calc(60% - 20px);
        }
    }
}
@media screen and (min-width: 1024px){
    .creator-panel{
        .type-container{
            width: calc(50% - 20px);
            .MuiFormControl-root{
                width: 80%;
                .MuiInputBase-formControl{
                    width: calc(40% - 20px);
                    .MuiSelect-selectMenu{
                        font-size: 1.6em;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .creator-panel{
        .type-container{
            .question-type-btn{
                width: calc(25% - 20px);
                font-size: 0.8em;
            }
        }
        .ending-options-container{
            width: calc(100% - 20px);
            .ending-phase-btn{
                font-size: 1.5em;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .creator-panel{
        .type-container{
            .MuiFormControl-root{
                width: 90%;
                .MuiInputBase-formControl{
                    width: calc(50% - 20px);
                    .MuiSelect-selectMenu{
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 782px) {
    .creator-panel{
        .answer-wrapper{
            width: calc(80% - 20px);
        }
    }
}
@media screen and (max-width: 755px) {
    .creator-panel{
        .question-name-input{
            width: calc(60% - 20px);
        }
    }
}
@media screen and (max-width: 688px) {
    .creator-panel{
        .type-container{
            .question-type-btn{
                width: calc(40% - 20px);
                font-size: 1em;
            }
        }
        .answer-wrapper{
            width: calc(80% - 20px);
            .answer-content,.answer-icon{
                width: auto;
            }
        }
        .ending-options-container{
            .ending-phase-btn{
                width: calc(45% - 32px);
                font-size: 1.5em;
            }
        }
    }
}
@media screen and (max-width: 570px) {
    .creator-panel{
        .answer-wrapper{
            .answer-content,.answer-icon{
                width: auto;
            }
            .answer-content{
                input, label{
                    font-size: 1.8em;
                }
            }
        }
        .ending-options-container{
            .ending-phase-btn{
                width: calc(80% - 32px);
                padding: 10px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                font-size: 1.3em;
            }
        }
    }
}
@media screen and (max-width: 511px) {
    .creator-panel{
        .type-container{
            .question-type-btn{
                width: calc(50% - 20px);
                font-size: 0.8em;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .creator-panel{
        .adding-answer-button{
            width: calc(70% - 20px);
            font-size: 0.7em;
        }
    }
}
@media screen and (max-width: 375px) {
    .creator-panel{
        .question-name-input{
            width: calc(80% - 20px);
        }
        .type-container{
            .question-type-btn{
                width: calc(80% - 20px);
                margin: 2px 6px;
                padding: 10px;
                font-size: 1em;
            }
        }
        .ending-options-container{
            .ending-phase-btn{
                width: calc(90% - 32px);
                font-size: 1.2em;
            }
        }
    }
}
@media screen and (max-width: 330px) {
    .creator-panel{
        .points-input{
            width: calc(70% - 20px);
        }
    }
}
@media screen and (min-width: 320px) {
    .creator-panel{
        .type-container{
            .MuiFormControl-root{
                .MuiInputBase-formControl{
                    width: calc(80% - 20px);
                }
            }
        }
    }
}